---
layout: default
title: Nodes by category
---

      <main role="main">
        <article>

        {% for cat in site.cats %}

          <h2 class="cat" id="{{ cat }}">{{ cat | capitalize }}</h2>
          <ul class="index">
            {% for post in site.categories.[cat] %}
              <li class="category-{{ post.category }}"><a href="{{ site.baseurl }}{{ post.url }}" title="{{ post.excerpt | strip_html | strip_newlines | escape }}">
                {{ post.title }}</a>
                {{ post.date | date: "%d %b" }}
                <abbr title="{{ post.date | date: "%d %b %Y" }}">{{ post.date | date: "%Y" | minus:20 }}</abbr>
              </li>
            {% endfor %}
          </ul>

        {% endfor %}

        </article>
      </main>
  
      <footer>
      </footer>
