---
layout: default
---

      <main role="main">
        <article>
          <h1>{{ page.title }}</h1>
          <p><cite>{{ page.date | date: "%d %B"}} <abbr title="{{ page.date | date: "%d %B %Y" }}">{{ page.date | date: "%Y" | minus:20 }}<abbr></cite>
          {% if page.categories %} &middot;

          {% for c in page.categories %}
          <a href="{{ site.baseurl }}/contents.html#{{ c }}">{{ c | capitalize }}</a>
          {% endfor %}

          {% endif %}
          </p>

          {{ content }}
        </article>
      </main>
  
      <footer>
      </footer>
